MONGODB_URI=mongodb+srv://USERNAME:PASSWORD@cluster0.xxxxx.mongodb.net/ddoDB
JWT_SECRET=ddo_secret_key_change_me
COMPANY_ID=DDO-COMPANY
COMPANY_KEY=DDO-ACCESS-KEY
COMPANY_NAME=DDO Company
COMPANY_PASSWORD_HASH=
COMPANY_PASSWORD=
PORT=5000
